{% import "_includes/forms" as forms %}

<h4>Regenerate slugs</h4>

<h5>Locales to regenerate slugs for</h5>

{% for locale in craft.i18n.getSiteLocales() %}
  {{ forms.checkboxField({
      label: locale.name,
      name: 'locales[' ~ locale.id ~ ']'
    })
  }}
{% endfor %}

<h5>Generate a CSV file containing the locale, old, and new URIs in the root of the Craft project</h5>

{{ forms.checkboxField({
    label: 'Generate CSV file',
    name: 'generateCsv',
    checked: 'checked'
  })
}}

<h5>If your goal is to remove non-ASCII characters from your slugs, check this box to save time and memory</h5>

{{ forms.checkboxField({
    label: 'Don\'t regenerate if the slug is already completely ASCII',
    name: 'skipAscii'
  })
}}

{{ forms.lightswitchField({
    label: 'Regenerate?'|t,
    id: 'regenerateSlugs',
    name: 'regenerateSlugs',
  })
}}
